*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #D8DA3D;
    color: #80007E;
}

.col {
    float: left;
}

.col.left{
      width: 200px;
      padding-top: 25px;
      padding-left: 2px;
      height: 150px;
}

.col.right{
      width: 1111px;
      padding-top: 12px;
      padding-left: 10px;
      height: 450px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 8px;
    padding-left: 8px;
}

p{
    margin: 11px;
}

#line{
    border-style: dashed;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 25px;
}

a{
    text-decoration: none;
}

ul li{
    background-color: white;
    width: 160px;
    margin: 7px;
    list-style-type: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
}

.r1r3{
    border-right: 15px solid #ff7f00;
}

.r2r4{
    border-right: 15px solid #0000ff;
}

#author{
    margin-top: 15px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#block_1{
    fill: transparent;
    stroke-width:3px;
    stroke:black;
    stroke-dasharray: 10,4;
}


#block_2{
    fill: transparent;
    stroke-width:3px;
    stroke:#ff7f00;
    stroke-dasharray: 10,4; 
}

#block_3{
    fill: transparent;
    stroke-width:2px;
    stroke:#0000ff;
    stroke-dasharray: 3;     
}

